<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<h1 class="display-4 mb-4">Welcome</h1>
			<p class="lead mb-4">Please login to continue</p>
			<div>
				<a
					href="/auth/login"
					class="btn btn-primary btn-lg"
					>Login</a
				>
			</div>
		</div>
	</div>
</div>
